.background{
  background-color: #F6F6F6;
}

.flexbox{
 display: flex;
 justify-content: center;
 align-items: center;
}

.spacer{
  margin-bottom: 3em;
}

.padding-top{
  padding-top: 3em;
}

.center{
  text-align: center;
}

.padding-bottom{
  padding-bottom: 5em;
}
